[global]

; This is the base port. 2nd, 3rd monitor will use port number upwards.
SERVER_PORT = 80
; SERVER_PORT = 8081

TEMPIMG_PRESERVE_MINUTES = 60
SCREEN_CROP_LEFT = 0
SCREEN_CROP_RIGHT = 0
SCREEN_CROP_TOP = 0
SCREEN_CROP_BOTTOM = 0

; MYIP_OVERRIDE = 192.168.100.181

DELETE_TEMP_ON_QUIT = 1

SERVER_SHOW_QRCODE = 1

; If DIR_BACKUP_PNG is set, each screenshot will be saved to this dir, 
; one folder each day, so that they are preserved permanently.
DIR_BACKUP_PNG = i:\pyscreencast-history
