[global]

SERVER_PORT = 80
; -- This assigns HTTP server base port. 2nd, 3rd monitor will use port number upwards.
; Semantic for multi-monitor PC:
; * If set to 80, and you select monitor <1>, then port 80 is used.
; * If set to 80, and you select monitor <2>, then port 81 is used.
; So, if you want to serve two monitors simultaneously, you can launch two 
; instances of pyscreencast, and different TCP ports apply to different monitors.
; 
; If SERVER_PORT is 0, then HTTP server is disabled.


; SCREEN_SAVE_INTERVAL_SECONDS = 2

TEMPIMG_PRESERVE_MINUTES = 60
SCREEN_CROP_LEFT = 0
SCREEN_CROP_RIGHT = 0
SCREEN_CROP_TOP = 0
SCREEN_CROP_BOTTOM = 0

; MYIP_OVERRIDE = 192.168.100.181

DELETE_TEMP_ON_QUIT = 1

SERVER_SHOW_QRCODE = 1

DIR_BACKUP_PNG = .\png-history
; -- If DIR_BACKUP_PNG is set, each screenshot will be saved to this dir, 
; one folder each day, so that they can be preserved for as long as you like.

PNG_BACKUP_PRESERVE_DAYS = 3
; -- How many days to preserve PNG backups, 0 means forever.

; PNG_BACKUP_SIMULATE_DEL = 0
